<div class="container-fluid shadow rounded">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/@Model.Image" class="h-100 w-100" id="order-img" />
        </div>
    </div>
    <br />
    <div class="row mt-2">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h2 class="text-dark">@Model.Name</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive p-2">
                <table class="table table-bordered">
                    <thead>
                            <th>Description</th>
                    </thead>

                    <tbody>
                        <td>@Model.Description</td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="p-2">
                <h2 class="text-dark">Bill Details</h2>

                <div class="row border-bottom border-2 border-dark">
                    <label class="col-10 col-form-label text-muted">Price</label>
                    <div class="col-2">
                        <span>@Model.Price</span>
                    </div>
                </div>

                <div id="qtySection" class="row border-bottom border-2 border-dark">
                    <label class="col-9 col-form-label text-muted">Quantity</label>
                    <div class="col-3 border border-2 p-1 text-center rounded">
                        <span onclick="quantity('inc')"><i class="fas fa-plus text-success"></i></span>
                        <input type="text" id="qty" class="border border-1 text-center" value="1" readonly/>
                        <span onclick="quantity('dec')"><i class="fas fa-minus text-danger"></i></span>
                    </div>
                </div>
                <div class="row border-bottom border-2 border-dark">
                    <label class="col-10 col-form-label text-muted">Delivery Charge</label>
                    <label class="col-2 col-form-label text-success fw-bold">Free</label>
                </div>
                <div class="px-1 mb-2">
                    <label class="form-labe text-muted">Delivery Address</label>
                    <textarea class="form-control" name="Address"></textarea>
                </div>
                <div class="row border-top border-dark border-1">
                    <label class="col-10 col-form-label fs-5 fw-bold">Total</label>
                    <label class="col-2 col-form-label text-muted fw-bold">@Model.Price</label>
                </div>
            </div>
        </div>
    </div>
</div>
