<style>
    #recipe-list {
        top: 5rem;
    }

    #recipe-list::-webkit-scrollbar {
            width: 8px;
    }


    #recipe-list::-webkit-scrollbar-thumb {
            background-color: #369AEB;
            border-radius: 10px;
    }

    .recipe-item {
        padding: 10px;
    }

    p {
        font: 20px;
        padding-left: 15px;
        font-weight: 400;
    }

    .recipe-item:hover {
        background-color: #369AEB;
        border-radius: 10px;
    }

        .recipe-item:hover P {
            color: white !important;
        }

    hr {
        padding: 0px;
        margin: 0px;
    }

</style>

<ul class="list-group-flush px-0 overflow-auto vh-100 position-sticky" id="recipe-list">
    @foreach (Category category in ViewBag.Categories)
    {
        <a style="text-decoration:none" asp-action="Search" asp-route-recipe="@category.Name">
        <li class="recipe-item list-group-item">
            <p>@category.Name</p>
        </li>
        <hr />
        </a>
    }
</ul>