@model List<IGrouping<Category,Recipe>>
@{
    ViewData["Title"] = "Recipe";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            @Html.Partial("_SearchBar")
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="shadow rounded">
                <div class="border-bottom border-3 p-2">
                    <h4 class="text-center fst-italic" style="color:#155e75">Recipes</h4>
                        @Html.Partial("_SideMenu")
                </div>
            </div>
        </div>

        <div class="col-9" style="color:#369AEB">
                @foreach (var categoryGroup in Model)
                {
                    <div class="mb-3">
                        <h4>@categoryGroup.Key.Name </h4>
                        <div class="row" id="pieRecipe">
                            @foreach (var CategoryItem in categoryGroup)
                            {
                                @Html.Partial("_RecipeCard", CategoryItem);
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>