@{
    ViewData["Title"] = "Search";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4">
            @Html.Partial("_SearchBar")
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="shadow rounded">
                <div class="border-bottom border-3 p-2">
                        <h4 class="text-center fst-italic" style="color:#155e75">Recipes</h4>
                        @Html.Partial("_SideMenu")
                </div>
            </div>
        </div>

        <div class="col-9">
            <h2 style="color:#155e75;">Search Recipes</h2>
            <div id="searchRecipes" class="row">
                @foreach (var recipe in (IEnumerable<Recipe>) ViewBag.Recipe)
                {
                    @Html.Partial("_RecipeCard", recipe);
                }
            </div>
        </div>
    </div>
</div>



